In [23]:
import pandas as pd

In [22]:
data1 = pd.read_csv('data/Anthropometric.csv')
data2 = pd.read_csv('data/Dietary.csv')
data3 = pd.read_csv('data/Clinical.csv')
data4 = pd.read_csv('data/Biochemical.csv')

In [13]:
data1['Month Log'] = data1['Month'].apply(lambda x: 'Month 1' if x == '1-2022' else ('Month 2' if x == '2-2022' else None))

data3['Month Log'] = data3['Month'].apply(lambda x: 'Month 1' if x == '1-2022' else ('Month 2' if x == '2-2022' else None))

data4['Month Log'] = data4['Month'].apply(lambda x: 'Month 1' if x == '1-2022' else ('Month 2' if x == '2-2022' else None))

In [14]:
data1.to_csv('data/Anthropometric_Month.csv', index=False)
data3.to_csv('data/Clinical_Month.csv', index=False)
data4.to_csv('data/Biochemical_Month.csv', index=False)

In [15]:
data2['Date'] = pd.to_datetime(data2['Date'], infer_datetime_format=True)

In [18]:
data2['Month'] = data2['Date'].apply(lambda x: 'Month ' + str(x.month - 6))
data2['Day'] = data2['Date'].apply(lambda x: x.day)

In [19]:
data2

,Aadhaar,Date,Grains,Pulses,otherFruits,leafy_Vegetables,other_veg,Milk,Animal,Vitamin_A,Nuts,Eggs,junk,Month,Day
0,1234567100,2021-07-01,1,1,0,0,0,0,0,0,0,0,1,Month 1,1
1,1234567100,2021-07-02,1,1,0,0,0,0,0,0,0,0,1,Month 1,2
2,1234567100,2021-07-03,1,1,0,0,0,1,0,0,0,0,1,Month 1,3
3,1234567100,2021-07-04,1,1,0,0,0,0,0,0,0,0,1,Month 1,4
4,1234567100,2021-07-05,1,1,0,0,0,0,0,0,0,1,1,Month 1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11220,990095966133,2021-10-03,1,1,0,0,0,0,0,0,0,0,1,Month 4,3
11221,990095966133,2021-10-04,1,0,0,0,0,0,0,0,0,1,0,Month 4,4
11222,990095966133,2021-10-05,1,1,0,0,0,0,0,0,0,0,1,Month 4,5
11223,990095966133,2021-10-06,1,1,0,0,0,0,0,0,0,0,1,Month 4,6
11224,990095966133,2021-10-07,1,0,0,0,0,0,0,0,0,0,1,Month 4,7

In [20]:
data2.to_csv('data/Dietary_Month.csv', index=False)

In [24]:
data1 = pd.read_csv('data/Anthropometric_Month.csv')
data2 = pd.read_csv('data/Dietary_Month.csv')
data3 = pd.read_csv('data/Clinical_Month.csv')
data4 = pd.read_csv('data/Biochemical_Month.csv')

In [25]:
data1.columns

Index(['Aadhaar', 'Month', 'Gender', 'Age', 'Height', 'Weight', 'BodyFat',
       'MidArm', 'BMI', 'BMR', 'Month Log'],
      dtype='object')

In [26]:
data2.columns

Index(['Aadhaar', 'Date', 'Grains', 'Pulses', 'otherFruits',
       'leafy_Vegetables', 'other_veg', 'Milk', 'Animal', 'Vitamin_A', 'Nuts',
       'Eggs', 'junk', 'Month', 'Day'],
      dtype='object')

In [27]:
data3.columns

Index(['Aadhaar', 'Month', 'NeckPatches', 'PaleSkin', 'Pellagra',
       'WrinkledSkin', 'TeethDiscolouration', 'BleedingGums', 'Cavity',
       'WeakGums', 'AngularCuts', 'InflammedTongue', 'LipCuts', 'MouthUlcer',
       'BitotSpot', 'Xeropthalmia', 'RedEyes', 'Catract', 'HairFall',
       'DamagedHair', 'SplitEnds', 'Discolouration', 'DarkLines',
       'SpoonShapedNails', 'BrokenNails', 'PaleNails', 'lean', 'bony',
       'goitre', 'obesity', 'Month Log'],
      dtype='object')

In [28]:
data4.columns

Index(['Aadhaar', 'Month', 'Haemoglobin', 'Month Log'], dtype='object')

In [29]:
diseases = ['NeckPatches', 'PaleSkin', 'Pellagra',
       'WrinkledSkin', 'TeethDiscolouration', 'BleedingGums', 'Cavity',
       'WeakGums', 'AngularCuts', 'InflammedTongue', 'LipCuts', 'MouthUlcer',
       'BitotSpot', 'Xeropthalmia', 'RedEyes', 'Catract', 'HairFall',
       'DamagedHair', 'SplitEnds', 'Discolouration', 'DarkLines',
       'SpoonShapedNails', 'BrokenNails', 'PaleNails', 'lean', 'bony',
       'goitre', 'obesity']